@import "tailwindcss";

@media screen and (min-width:768px){
a.active hr{
    display: block;
    scale:1;
}
a.active p{
    color: purple;
}
a:hover hr{
      display: block;
      scale: 1;
}
}

a.active p{
    color: purple;
}


html{
    background-color: rgb(240, 236, 236);
}
html{
   scroll-behavior: smooth;
}
